__pycache__
stable_diffusion/
*.zip
*.mp4
make_movie/1022/*.png
make_movie/frames2-ex-1/*.png
make_movie/frames2-ex-1/frame_diff_analysis



/make_movie/cut_frame/

0118/
0123/
0213/
0213-3/
0214/
0217/
0217-2/
0217-3/
0217-4/
0217-5/
c4/
c4-2/
netpro/
before2025_01/
ave/

# stable_diffusion

*.ckpt
*.safetensors
*.pth
.DS_Store
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
/test/test_outputs
/cache
trace.json
/sysinfo-????-??-??-??-??.json
